.main {
  text-align: center;
}
.notes-container {
  margin: 0 auto;
  max-width: 90%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 30px;
}
